<table class="table table-dark">
    <tbody>
        <tr>
            <td>Անկյունագիծ</td>
            <td>{{ product.diagonal }}</td>
        </tr>
        <tr>
            <td>Ցուցադրման տիպ</td>
            <td>{{ product.display_type }}</td>
        </tr>
        <tr>
            <td>Պրոցեսորի մաքրություն</td>
            <td>{{ product.processor_freq }}</td>
        </tr>
        <tr>
            <td>Օպերատիվ հիշողություն</td>
            <td>{{ product.ram }}</td>
        </tr>
        <tr>
            <td>Վիդեոքարտ</td>
            <td>{{ product.video }}</td>
        </tr>
        <tr>
            <td>Մարտկոցի աշխատանքի ժամանակ</td>
            <td>{{ product.time_without_charge }}</td>
        </tr>
    </tbody>
</table>