<table class="table table-dark">
    <tbody>
        <tr>
            <td>Անկյունագիծ</td>
            <td>{{ product.diagonal }}</td>
        </tr>
        <tr>
            <td>Ցուցադրման տիպ</td>
            <td>{{ product.display_type }}</td>
        </tr>
        <tr>
            <td>Էկրանի ընդլայնում</td>
            <td>{{ product.resolution }}</td>
        </tr>
        <tr>
            <td>Մարտկոցի ծավալ</td>
            <td>{{ product.accum_volume }}</td>
        </tr>
        <tr>
            <td>Օպերատիվ հիշողություն</td>
            <td>{{ product.ram }}</td>
        </tr>
        <tr>
            <td>Ներդրված SD քարտի հիշողության ծավալ</td>
            <td>{{ product.sd }}</td>
        </tr>
        <tr>
            <td>Մեծագույն ներդրման հիշողության ծավալ</td>
            <td>{{ product.sd_volume_max }}</td>
        </tr>
        <tr>
            <td>Ետևի տեսախցիկ</td>
            <td>{{ product.main_cam_mp }}</td>
        </tr>
        <tr>
            <td>Առջևի տեսախցիկ</td>
            <td>{{ product.frontal_cam_mp }}</td>
        </tr>
    </tbody>
</table>
